*{
    margin: 0px;
    
}

body{
    background:linear-gradient(to right, rgb(0, 20, 29),rgb(2, 80, 110),rgb(1, 30, 37));
    background-size: 400% 400%;
    animation: animate-background 15s infinite ease-in-out;
}
@keyframes animate-background{
    0%{
        background-position:0 50%;
    }
    50%{
        background-position: 100% 50%;
    }
    100%{
        background-position:0 50%;
    }
}





/************logo****************/
.logo{
    border-style: none;
    border-width:1px;
    margin-top: 4%;
    border-radius: 5px;
    height:10rem;
    width:70%;
    margin-left: 14%;
    background-image: url(img/logo.png);
    background-size:cover;
    background-position:center;
}
/****************************/





/*************main***************/
.main{
    display: flex;
    flex-direction: row;
    border-style: none;
    border-color:red;
    height:69.2vh;
    margin-top: 20%;
    margin-left: 5%;    
}





/***********pakages************/
.main .packages{
    display: flex;
    flex-direction: column;
    border-style: none;
    margin-top: 0%;
    width:60%;
    height:99%;
}





/************pacakges right*********/
.main .packages_right{
    display:flex;
    flex-direction: column;
    border-style: none;
    height:27%;
    width:30%;
    margin-left: 5%;
    margin-top: 10%;
}
.main .packages_right h1{
    border-width:1px;
    border-style:none;
    height: 25%;
    font-size: 25px;
    margin-bottom: 5%;
    color:rgb(186, 195, 196);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.main .packages_right #me{
    padding-left:13%;
}
#packages_right_logo{
    position: relative;
    width: 80px;
    height: 80px;
    border-radius: 50%;
}
#packages_right_logo::before, #packages_right_logo:after{
    content: "";
    position: absolute;
    border-radius: inherit;
}
#packages_right_logo:before{
    width:100%;
    height:100%;
    background-image :linear-gradient(0deg, #ff00cc 0%,#002fff 100%);
    animation:spin .5s infinite linear;
}
#packages_right_logo:after{
    width: 70%;
    height:70%;
    background-color: #032a4e;
    top: 50%;
    left:50%;
    transform: translate(-50%, -50%);
}
@keyframes spin{
    to {
       transform: rotate(360deg); 
    }
}

/**********************************/





.main .packages h1{
    border-style:none;
    width:99%;
    height:14%;
}

.main .packages .pack{
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    border-style: none;
    padding-left: 18%;
    width: 70%;
    height:10%;
    font-size: 38px;
    color:rgba(255, 255, 255, 0.842);
}
.main .packages .pack span{
    font-size: 40px;
    color:#ff004c;
}

.main .packages .bas #bas_name a{
    text-decoration: none;
    color:white;
}
.main .packages .bas{
    display: flex;
    flex-direction: row;
    margin-top: 0%;
}
.main .packages .bas p{
    border-width:1px;
    border-style: solid;
    width:25%;
    font-size: 22px;
    padding-left: 10%;
    padding-top: 5%;
    font-family:Verdana, Geneva, Tahoma, sans-serif; 
}

.main .packages .bas #bas_name{
    width: 100%;
    margin-left: 1%;
    border-radius: 30px 0px 30px 0px;
    border-style: none;
    background-color: #000000d2;
    color:white;
}
.main .packages .bas #bas_name:hover{
    background-color: rgb(241, 13, 51);
}
.main .packages .mig{
    margin-top: 10%;
    display: flex;
    flex-direction: row;   
}
.main .packages .mig p{
    border-width:1px;
    border-style: none;
    width:25%;
    font-size: 22px;
    padding-left: 10%;
    padding-top: 5%;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}
.main .packages .mig p a{
    text-decoration: none;
    color:rgb(0, 5, 10);
}
.main .packages .mig #mig_name{
    width: 100%;
    margin-left: 1%;
    border-radius: 30px 0px 30px 0px;
    background-color: rgb(210, 228, 243);
    color:black;
}
.main .packages .mig #mig_name:hover{
    background-color: rgb(241, 13, 51);
}
.main .packages .sup{
    margin-top: 10%;
    display: flex;
    flex-direction: row;   
}
.main .packages .sup p{
    border-width:1px;
    border-style: none;
    width:25%;
    font-size: 22px;
    padding-left: 10%;
    padding-top: 5%;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}
.main .packages .sup #sup_name{
    width: 100%;
    margin-left: 1%;
    border-radius: 30px 0px 30px 0px;
    background-color: #035164;
    color:white;
}
.main .packages .sup #sup_name a{
    text-decoration: none;
    color:white;
}
.main .packages  .sup #sup_name:hover{
    background-color: rgb(241, 13, 51);
}

/**********************/



/*********************mainOne********************************/
.mainOne{
    display: flex;
    flex-direction: column;
    border-style: none;
    height:99.3vh;
}

.mainOne #basicTopic{
    height:5%;
    padding: 10%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color:white;
}
.mainOne #basicTopic span{
    color:rgb(0, 174, 255);
}
.mainOne h1{
    display: flex;
    flex-direction: row;
    border-style:none;
    height:13%;
    margin-bottom: 2%;
    margin-left: 5%;
}

.mainOne .hover:hover{
    background-color: #001a1abe;
    border-style: none;
    border-width: 1px;
    border-color: rgb(255, 255, 255);
}
.mainOne p{
    padding: 8%;
    border-style: solid;
    width:15%;
    border-radius:5px;
    color:white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.mainOne #logo_left{
    background-image: url(img/lamp.jpg);
    background-size:cover;
    background-position:center;
    border-style: none;
}
.mainOne #text{
    width:60%;
    border-style: none;
}
.mainOne p a{
    text-decoration: none;
    font-size: 25px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;

}

.mainOne #logo_left1{
    background-image: url(img/mobile-apps.jpg);
    background-size:cover;
    background-position:center;
    border-style: none;
}
.mainOne #logo_left2{
    background-image: url(img/index-testimonial4.jpg);
    background-size:cover;
    background-position:center;
    border-style: none;
}
.mainOne .nav{
    margin-top: 50%;
    border-style: none;
    height: 10%;
}

.mainOne .nav p:hover{
    border-style: solid;
}
.mainOne .nav #p1{
    padding-top: 6%;
    border-width: 1px;
    padding-left: 5%;
    padding-right: 10%;
    font-size:25px;
    border-style: none;
    background-color: #ff0022;
}
.mainOne .nav #p1:hover{
    background-color: rgb(238, 138, 8);
}
.mainOne .nav #p2{
    padding-top: 6%;
    border-width: 1px;
    margin-left: 1%;
    width:40%;
    font-size:25px;
    border-style: none;
    background-color: #032a4e;
}
.mainOne .nav #p2:hover{
    background-color: rgb(238, 138, 8);
    
}
.mainOne p a{
    text-decoration: none;
    color:white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}



/*********************mainOnes********************************/
.mainOnes{
    display: flex;
    flex-direction: column;
    border-style: none;
    height:99.3vh;
}

.mainOnes #superTopic{
    height:5%;
    padding: 10%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color:white;
    
}
.mainOnes #superTopic span{
    color:#0099ff;
}
.mainOnes h1{
    display: flex;
    flex-direction: row;
    border-style:none;
    height:13%;
    margin-bottom: 2%;
    margin-left: 5%;
}

.mainOnes .hovers:hover{
    background-color: #001a1abe;
    border-style: none;
    border-width: 1px;
    border-color: rgb(255, 255, 255);
}
.mainOnes p{
    padding: 8%;
    border-style: solid;
    width:15%;
    border-radius:5px;
    color:white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.mainOnes #logo_lefts{
    background-image: url(img/track-bg.jpg);
    background-size:cover;
    background-position:center;
    border-style: none;
}
.mainOnes #texts{
    width:60%;
    border-style: none;
}
.mainOnes p a{
    text-decoration: none;
    font-size: 25px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;

}

.mainOnes #logo_left1s{
    background-image: url(img/about-img.jpg);
    background-size:cover;
    background-position:center;
    border-style: none;
}
.mainOnes #logo_left2s{
    background-image: url(img/slider-bg.jpg);
    background-size:cover;
    background-position:center;
    border-style: none;
}
.mainOnes .nav{
    margin-top: 50%;
    border-style: none;
    height: 10%;
}

.mainOnes .nav p:hover{
    border-style: solid;
}
.mainOnes .nav #p1{
    padding-top: 6%;
    border-width: 1px;
    padding-left: 5%;
    padding-right: 10%;
    font-size:25px;
    border-style: none;
    background-color: #ff0022;
}
.mainOnes .nav #p1:hover{
    background-color: rgb(238, 138, 8);
}
.mainOnes .nav #p2{
    padding-top: 6%;
    border-width: 1px;
    margin-left: 1%;
    width:40%;
    font-size:25px;
    border-style: none;
    background-color: #032a4e;
}
.mainOnes .nav #p2:hover{
    background-color: rgb(238, 138, 8);
    
}
.mainOnes p a{
    text-decoration: none;
    color:white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}






/*********************mainOnem********************************/
.mainOnem{
    display: flex;
    flex-direction: column;
    border-style: none;
    height:99.3vh;
}

.mainOnem #mightyTopic{
    height:5%;
    padding: 10%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color:white;
}
.mainOnem #mightyTopic span{
    color:rgb(0, 174, 255);
}
.mainOnem h1{
    display: flex;
    flex-direction: row;
    border-style:none;
    height:13%;
    margin-bottom: 2%;
    margin-left: 5%;
}

.mainOnem .hoverm:hover{
    background-color: #001a1abe;
    border-style: none;
    border-width: 1px;
    border-color: rgb(255, 255, 255);
}
.mainOnem p{
    padding: 8%;
    border-style: solid;
    width:15%;
    border-radius:5px;
    color:white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.mainOnem #logo_leftm{
    background-image: url(img/contact-img.jpg);
    background-size:cover;
    background-position:center;
    border-style: none;
}
.mainOnem #textm{
    width:60%;
    border-style: none;
}
.mainOnem p a{
    text-decoration: none;
    font-size: 25px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;

}

.mainOnem #logo_left1m{
    background-image: url(img/video1.jpg);
    background-size:cover;
    background-position:center;
    border-style: none;
}
.mainOnem #logo_left2m{
    background-image: url(img/timeline6.jpg);
    background-size:cover;
    background-position:center;
    border-style: none;
}
.mainOnem .nav{
    margin-top: 50%;
    border-style: none;
    height: 10%;
}

.mainOnem .nav p:hover{
    border-style: solid;
}
.mainOnem .nav #p1m{
    padding-top: 6%;
    border-width: 1px;
    padding-left: 5%;
    padding-right: 10%;
    font-size:25px;
    border-style: none;
    background-color: #ff0022;
}
.mainOnem .nav #p1m:hover{
    background-color: rgb(238, 138, 8);
}
.mainOnem .nav #p2m{
    padding-top: 6%;
    border-width: 1px;
    margin-left: 1%;
    width:40%;
    font-size:25px;
    border-style: none;
    background-color: #032a4e;
}
.mainOnem .nav #p2m:hover{
    background-color: rgb(238, 138, 8);
    
}
.mainOnem p a{
    text-decoration: none;
    color:white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}



/*********************mainOnes********************************/
.mainOnes{
    display: flex;
    flex-direction: column;
    border-style: none;
    height:99.3vh;
}

.mainOnes #superTopic{
    height:5%;
    padding: 10%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color:white;
    
}
.mainOnes #superTopic span{
    color:#0099ff;
}
.mainOnes h1{
    display: flex;
    flex-direction: row;
    border-style:none;
    height:13%;
    margin-bottom: 2%;
    margin-left: 5%;
}

.mainOnes .hovers:hover{
    background-color: #001a1abe;
    border-style: none;
    border-width: 1px;
    border-color: rgb(255, 255, 255);
}
.mainOnes p{
    padding: 8%;
    border-style: solid;
    width:15%;
    border-radius:5px;
    color:white;
}
.mainOnes #logo_lefts{
    background-image: url(img/track-bg.jpg);
    background-size:cover;
    background-position:center;
    border-style: none;
}
.mainOnes #texts{
    width:60%;
    border-style: none;
}
.mainOnes p a{
    text-decoration: none;
    font-size: 25px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;

}

.mainOnes #logo_left1s{
    background-image: url(img/about-img.jpg);
    background-size:cover;
    background-position:center;
    border-style: none;
}
.mainOnes #logo_left2s{
    background-image: url(img/slider-bg.jpg);
    background-size:cover;
    background-position:center;
    border-style: none;
}
.mainOnes .nav{
    margin-top: 50%;
    border-style: none;
    height: 10%;
}

.mainOnes .nav p:hover{
    border-style: solid;
}
.mainOnes .nav #p1{
    padding-top: 6%;
    border-width: 1px;
    padding-left: 5%;
    padding-right: 10%;
    font-size:25px;
    border-style: none;
    background-color: #ff0022;
}
.mainOnes .nav #p1:hover{
    background-color: rgb(238, 138, 8);
}
.mainOnes .nav #p2{
    padding-top: 6%;
    border-width: 1px;
    margin-left: 1%;
    width:40%;
    font-size:25px;
    border-style: none;
    background-color: #032a4e;
}
.mainOnes .nav #p2:hover{
    background-color: rgb(238, 138, 8);
    
}
.mainOnes p a{
    text-decoration: none;
    color:white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}





/**********************mainTwo****************************/

.mainTwo{
    border-style: solid;
    height: 99.3vh;
}

.mainTwo .login{
    border-style: none;
    height:50vh;
    margin-top: 50%;
}

.mainTwo .login h1{
    border-style: solid;
    height: 20%;
}
.mainTwo .login #client_detail{
    height: 40%;
    width:40%;
    margin-left: 29%;
}
.mainTwo .login #client_detail2 form{
    margin-top: 2%;
    height:96%;
    border-style: solid;
}

.mainTwo .login #client_detail2 form input{
    border-style: solid;
    height:50%;
    width:30%;
    margin-left: 34%;
    font-size: 23px;
    color:grey;

}