@media only screen and (min-width:319px) and (max-width:375px){
    
    [class*="col"]{
        background-color: rgba(23, 241, 96, 0);
        padding: 1rem;
       
    }
    #spacer{
        display: none;
    }
   
    #thepowero{
    
    }
}
 
@media only screen and (min-width:819px) and (max-width:1024px){
    
    [class*="col"]{
        background-color: rgba(23, 241, 96, 0);
        padding: 1rem;
        border: 1px solid white;
    }
    #spacer{
        display: solid;
    }
    #spacerTwo{
        display: block;
    }
    .imgBox{
        height: 70vh;
    }
    #thepowerof h1{
        
    }
    }
    .imgContainer{
        height: 26rem;
    }
    
@media only screen and (min-width:1025px) and (max-width:1366px){
    
[class*="col"]{
    background-color: rgb(23, 179, 241);
    padding: 1rem;
    border: 1px solid white;
}
#spacer{
    display: solid;
}
#spacerTwo{
    display: none;
}
.imgBox{
    height: 70vh;
}
}
